<html ng-app = "feedMe">
	<head>
		<title> TEO - Write Recipe </title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway" rel="stylesheet">
		<link href="/static/css/teo.css" rel="stylesheet">
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
	</head>

	<body ng-controller='recipeCtrl'>
	<section>
		<h1 align="center">Cuisine Classification Using Bayes Naive</h1>
		<div class="container">
			<div class="container col-xs-12 col-md-6" >
				<div align="center" class="cuisine-img"><img src = '/static/img/Food-Dome-512.png'></div>
				{% raw %}
				<div ng-if='predicted!=""' ng-cloak>
					<h1 align="center">Cuisine: <i>{{predicted}}</i></h1>
				</div>
				{% endraw %}
			</div>
			<div class="container col-xs-12 col-md-6">
				<div class = "teoinput">
					Enter Ingredients:
					<form name = "ingredientQuantity" id = "iq" class = "form-inline" ng-submit = "ingredientCheck()">
						<div class = "form-group">
							<input type = "text" name = "ingredient" class = "form-control" ng-model = "teo_ingredient" placeholder="Add Ingredient" required autofocus>
							<input type = "number" step = "any" min = 0.25 name = "quantity"  class = "form-control"  ng-model = "teo_quantity"  placeholder="Add Quantity" required>
							<select ng-model="selectedMeasure" ng-init = "selectedMeasure = measures[0]" ng-options = "x for x in measures" class="form-control"></select>
							<button type="submit" class = "form-control">Add</button>
						</div>
					</form>
				</div>
				<div class = "teolist" ng-cloak ng-if='ingredQuant.length!=0'>
					Ingredients:
					<span class="tag" ng-repeat = "x in ingredQuant">	 
						<span>{{'{{x.Quantity}}'}} {{'{{x.Measure}}'}} of {{'{{x.Ingredient}}'}}
							<span ng-click="deleteIngred(x,$index)"> &times; </span>
						</span>
					</span>
				</div>		
				<div align='center' class="col-xs-12 col-md-11" ng-if='predicted!=""'>
					<h3 align='center'> Similarity with other cuisines </h3>
					<div summary id = "cuisineChart"></div>
				</div>
			</div>
		</div>
		<div class = "container" ng-if = "ingredQuant.length!=0">
			<div class = "teoinput col-xs-12 col-md-12">
				Enter Directions:
				<form name = "teo_directions" id = "directions" class = "form-inline" ng-submit = "addDirections()" required>
					<div class = "form-group">
						<input type = "text" name = "instruction" class = "form-control" ng-model = "teo_direction" placeholder="Add direction" size="20" required>
						<button type="submit" class = "form-control">Add</button>
					</div>
				</form>
			</div>
		</div>
		<div class = "container teolist col-xs-12 col-md-12" ng-cloak ng-if="directions.length!=0">
			Directions:
			<ol>
				<li ng-repeat = "y in directions">
				<span> {{'{{y}}'}} </span>
				<span ng-click="deleteDirection(y, $index)"> &times; </span>
				</li>
			</ol>
		</div>
	
		<script src = "/static/js/teo_pie.js"></script>
		<script src = "/static/js/teo.js"></script>
	</section>
	</body>
</html>